.contact-form {
  background-color: #fff;
  box-shadow: 0 2.5px 4px #ccc;
  max-width: min-content;
  padding: 2.5rem 4rem;
  border-radius: .5rem;
}

.contact-row {
  padding: 3.5rem;
  font-size: 1.65rem;
  margin-left: 25rem;
  min-height: 67.6vh;

  h2 {
    color: #505050;
  }
}

.contact-form__group {
  display: flex;
  flex-direction: column;
  gap: .45rem;

  &--buttons {
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
  }
}

.contact-form__label {
  font-weight: 500;
}

.contact-form__input,
.contact-form__textarea {
  padding: 1.05rem 1.25rem;
  font-family: inherit;
  border: 1px solid #505050;
  border-radius: 2px;
}

.contact-form__button {
  background-color: #00a0db;
  color: #fff;
  padding: 0rem 1.6rem;
  height: 3.25rem;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
}