.header {
  text-align: center;

  &__link {

    &:link,
    &:active {
      text-decoration: none;
    }
  }
}

.heading-1 {
  font-size: 5.25rem;
  font-weight: 800;
  color: #2c87c5;
  text-shadow: 0 5px 6px rgba(0, 0, 0, .25);

  @media only screen and (max-width: $bp-590px) {
    font-size: 4.25rem;
  }

  @media only screen and (max-width: $bp-360px) {
    font-size: 3.5rem;
  }
}

.heading-2 {
  color: #505050;
  font-size: 3.65rem;

  @media only screen and (max-width: $bp-590px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: $bp-360px) {
    font-size: 2.25rem;
  }
}

.heading-3 {
  color: #505050;
  font-size: 2.4rem;

  @media only screen and (max-width: $bp-360px) {
    font-size: 2rem;
  }
}

.heading-4 {
  color: #505050;
  font-size: 1.85rem;
}

.main-section,
.main-cta {
  background-color: #fff;
  border-radius: 2px;
  padding: 1.45rem 4.2rem;
  text-align: center;
  width: 69rem;
  box-shadow: 0 2px 6.5px rgba(0, 0, 0, .35);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.35rem;

  @media only screen and (max-width: $bp-760px) {
    width: 63rem;
  }

  @media only screen and (max-width: $bp-630px) {
    width: 58rem;
  }

  @media only screen and (max-width: $bp-590px) {
    width: 55rem;
  }

  @media only screen and (max-width: $bp-360px) {
    width: 34rem;
    padding: 1.45rem 2rem;
  }
}

.main-cta__link {
  font-size: 1.6rem;

  @media only screen and (max-width: $bp-360px) {
    font-size: 1.45rem;
  }

  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    color: #505050;
  }

  &:hover {
    text-decoration: underline;
  }

  & img {
    display: inline-block;
    width: 8rem;
    vertical-align: middle;

    @media only screen and (max-width: $bp-360px) {
      width: 7.5rem;
    }
  }
}

.main__text {
  font-size: 1.5rem;
  line-height: 1.62;

  @media only screen and (max-width: $bp-590px) {
    font-size: 1.45rem;
    line-height: 1.52;
  }
}

.btn {
  color: #fff;
  background-color: #2c87c5;
  font-weight: 600;
  font-size: 1.65rem;
  border: 0;
  margin-left: -5px;
  padding: 1.5rem 3rem;

  &--submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    @media only screen and (max-width: $bp-760px) {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }

    @media only screen and (max-width: $bp-360px) {
      padding: .85rem;
      font-size: 1.45rem;
    }
  }

  &--cta:link,
  &:active {
    text-decoration: none;
    display: inline-block;
    width: max-content;
    border-radius: 5px;
  }
}

.form {
  max-width: 100%;

  &__group {
    display: flex;
    font-size: 1.5rem;
    height: 5rem;
  }

  &__input {
    padding: 1.5rem 1.3rem;
    width: 40rem;
    font-size: 1.65rem;
    font-family: inherit;

    @media only screen and (max-width: $bp-760px) {
      width: 37rem;
      padding: 1.3rem 1.1rem;
    }

    @media only screen and (max-width: $bp-590px) {
      width: 32rem;
      padding: .6rem;
    }

    @media only screen and (max-width: $bp-360px) {
      width: 18rem;
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
}

.content {
  padding: 0 3rem;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 72rem;
}

.icon-box {
  display: flex;
  flex-wrap: wrap;

  &__inner {
    flex-basis: 33.333%;
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;

    @media only screen and (max-width: $bp-590px) {
      padding: 1.2rem;
      line-height: 1.2;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-360px) {
      flex-basis: 50%;
    }

  }

  svg {
    display: inline-block;
    font-size: 3.2rem;
    padding: 1rem;
  }
}