{% extends "base.html" %}

{% block title %}
404 Page Not Found
{% endblock %}

{% block content %}

<main class="invalid">
  <div class="invalid__top">
    <a href="/" class="invalid__link--1 u-margin-bottom-small">
      <h2 class="">Short URL</h2>
    </a>
  </div>
  <h1 class="invalid__heading--1">404</h1>
  <h2 class="invalid__heading--2">Page not found!</h2>
  <p>The page you are looking for might have been removed, had its name changed or is unavailable.</p>
  <div>
    <a href="/" class="invalid__link--2">Return to home page</a>
  </div>
</main>

{% endblock %}