{% extends "base.html" %}

{% block title %}
Terms of service - ShortURL
{% endblock %}

{% block content %}

{% include "shortURL/navbar.html" %}
<section class="counter">
  <div class="counter__row u-margin-top-huge">
    <h2 class="heading-2">URL Click Counter</h2>
    <p>Enter the URL to find out how many clicks it has received so far.</p>
  </div>
  <div class="counter__row counter__row--main">
    <form action="/url-total-clicks" class="counter-form" method="post">
      <div class="counter-form__group u-margin-bottom-small">
        <input type="text" placeholder="Enter here your shortened URL" name="shortened_url" id="shortened_url"
          class="counter-form__input">
        <button type="submit" class="counter-form__button">Track Clicks</button>
      </div>
      <p class="counter-form__example">Example: shorturl.at/AbCdE</p>
    </form>
  </div>
  <div class="counter__row">
    <p>* Track the total hits of the shortened URL in real time, you do not have to register.</p>
  </div>
</section>

{% endblock %}