{% extends "base.html" %}

{% block title %}
Privacy Policy - ShortURL
{% endblock %}

{% block content %}
{% include "shortURL/navbar.html" %}

<main class="privacy-container">
  <div class="row">
    <h2 class="heading-2 privacy__heading">Privacy Policy</h2>
    <p class="privacy__text">
      Your privacy is important to us, this privacy policy explains what personal information we collect and how it is
      used. The site collects this information to analyze and provide better experiences with our services.
    </p>
    <h3 class="heading-3 privacy__heading">Technologies and personal data</h3>
    <p class="privacy__text">
      This site may use tools to collect user data, such as your IP address, web browser and operating system,
      identifying the number of visitors and understand how they use the site.
    </p>
    <h3 class="heading-3 privacy__heading">Cookies and advertising network</h3>
    <p class="privacy__text">
      We use third-party advertising companies to serve ads when you visit our site. These companies, such as our
      advertisers, may use cookies (small text files placed on your device) and similar technologies to collect
      information for the purpose of displaying ads related to products and services of interest to you.
    </p>
    <p class="privacy__text">
      This site may display advertisements served by Google advertising network, which uses cookies to identify user
      preferences and browsing habits. Users can get more information about these cookies and privacy on Google's
      website.
    </p>
    <p class="privacy__text">
      Web browsers accept cookies automatically, but if you prefer you can modify the configuration of your browser to
      refuse cookies. However, this can affect how you are able to interact with our site and other sites on the
      Internet.
    </p>
    <h3 class="heading-3 privacy__heading">Other important information</h3>
    <p class="privacy__text">If there are any questions regarding privacy or need any further information, please
      contact our team.</p>
  </div>
</main>

{% include "shortURL/footer.html" %}
{% endblock %}