{% extends "base.html" %}

{% block title %}
Terms of Service - ShortURL
{% endblock %}

{% block content %}
{% include "shortURL/navbar.html" %}
<section class="tos">
  <div class="row">
    <h2 class="heading-2">Terms of Service</h2>
    <p>
      This page explains the terms of use of Short URL, the user when using the shortener site is conditioned to the
      acceptance of the terms and conditions of use.
    </p>
    <h3 class="heading-3">Conditions of use</h3>
    <p>
      The site is available for access to all users and therefore you need to agree with the conditions of use when
      using our services.
    </p>
    <p>
      In order to provide a secure service for users it is not allowed to create short links that redirect to URLs that
      have:
    </p>

    <ul class="tos__list">
      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Content that spreads phishing, malware or viruses
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Abusive or suspicious content
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Pornographic, sexual, violent or prejudiced content
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Content related to drugs, weapons or drinks
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Any content that may infringe other people's rights
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Disgusting, explicit or offensive content that causes any kind of discomfort to other users
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Child or child-related content
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Pop-ups, scripts and malicious code
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Pages that provide information that is false, inaccurate or incomplete
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Double redirection
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Pages without content
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Pages created recently
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Pages without authority
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Content to collect data and personal information from users
      </li>
    </ul>

    <p>Do not use our URL shortener service for:</p>

    <ul class="tos__list">
      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Commercial purposes
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Ad campaigns
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Email campaigns
      </li>

      <li class="tos__item">
        <i class="fa fa-check-square fa-1x" aria-hidden="true"></i>
        Spam material
      </li>
    </ul>

    <p>All URLs are checked and analyzed by our team, any shortened URL that leads to the landing page that meets the
      above
      conditions can be deleted. If we notice any abusive behavior against our terms of service, the shortened URL will
      be deleted without notice. Shortened URLs that do not receive at least 1 click per month are also removed.
    </p>

    <h3 class="heading-3">Disclaimer</h3>
    <p>
      We offer a free service for all users, so Short URL does not warrant that the site or services are uninterrupted,
      secure or error-free. Due to a large number of emails received, we may not respond to all emails.
    </p>

    <h3 class="heading-3">Terms updates</h3>
    <p>Short URL reserves the right to update or change these terms of use at any time. The most current version of the
      terms will be posted on this page.
    </p>

  </div>
</section>

{% include "shortURL/footer.html" %}
{% endblock %}